body{ margin: 0; padding: 0; border: 0;


    background-color: rgb(255, 68, 0);
}

.header_section
{
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 120px;
    background-color: rgb(255, 90, 31);
    box-shadow: 0px 5px 5px 5px rgb(255, 152, 115);
}

.right_bar
{
    width: 200px;
    height: calc(100vh - 120px);
    background-color: rgb(250, 106, 54);
    box-shadow: 5px 0px 5px 0px rgb(255, 152, 115);
}